@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-color: rgb(202, 201, 201);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 425px;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: rgb(63, 63, 63);
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
  color: #1e2327;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 50%;
  top: 71%;
  left: 21%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 3px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  
}


.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 40%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 3px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 400;
  color: white;
  background-color: rgb(95, 95, 95);
  transition: 0.3s ease-in-out;
  
}

.button:hover{
  background-color: rgb(48, 48, 48);
}
.button:active {
  font-size: 0.9rem;
}